@import 'tailwindcss';

@theme {
  --font-sans: 'ValorantFont', ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: 'ValorantFont';
  src: url('./assets/fonts/ValorantFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unison Pro';
  src: url('./assets/fonts/UnisonPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unison Pro';
  src: url('./assets/fonts/UnisonPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unison Pro';
  src: url('./assets/fonts/UnisonPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

:root {
  background-color: #111111;
  color: #f5f5f5;
  font-family: 'ValorantFont', ui-sans-serif, system-ui, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

/* Flame Animation */
@keyframes flame-slide {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(250%);
  }
}
